body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

div {
  box-sizing: border-box;
}

p,
h5,
h4,
h3,
h2,
h1,
span,
li,
ul {
  transform: rotate(0.04deg);
}

a:visited {
  color: black;
}
