.home-middle-img-flex {
  display: flex;
  justify-content: center;
}

.home-middle-img-box {
  width: 85%;
  max-width: 3200px;
  height: 650px;
  /* height: 1200px; */
  background-image: url("./../public/home-middle-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-bottom-post-title {
  margin-top: 60px;
}

.home-bottom-post-flex {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 30px;
  gap: 5rem;
}

.home-bottom-post-box {
  width: 25%;
  height: auto;
  /* background-color: red; */
  background-color: white;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 1px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-bottom-post-box img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.home-bottom-post-box img:hover {
  opacity: 0.5;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .home-middle-img-box {
    width: 100%;
    height: 500px;
  }

  .home-bottom-post-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 4rem;
  }

  .home-bottom-post-box {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .home-bottom-post-box img {
    width: 100%;
    height: 300px;
    border-radius: unset;
  }
}
